@model UserRoleCreateViewModel

@*@Html.HiddenFor(model => model.Id)*@
<tr>
  <td class="mdl-data-table__cell--non-numeric">
    @Html.CheckBoxFor(model => model.Check)
  </td>
  <td class="mdl-data-table__cell--non-numeric">
    @Html.DisplayFor(model => model.Name)
  </td>
  <td class="mdl-data-table__cell--non-numeric">
    @Html.HiddenFor(model => model.Id)
  </td>
</tr>
