@using System.Globalization
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Identity

@inject IViewLocalizer Localizer
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
  <form asp-area="" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
    <a asp-area="" class="mdl-navigation__link" asp-controller="Manage" asp-action="Index" title="Manage">@Localizer["Hello"] @UserManager.GetUserName(User)!</a>
  </form>
    <a class="mdl-navigation__link" href="#" onclick="LogOff()"><i class="material-icons">directions_run</i> @Localizer["Log off"]</a>
}
else
{
  <a asp-area="" class="mdl-navigation__link" asp-controller="Account" asp-action="Login"><i class="fa fa-sign-in"></i> @Localizer["Log in"]</a>
}

<script>
  function LogOff()
  {
    var data = $("#logoutForm").serialize();
    $.ajax({
      type: 'POST',
      url: '/Account/LogOff',
      data: data,
      success: function (d)
      {
        window.location = "Home";
      },
      error: function (xhr, textStatus, errorThrown)
      {
        // TODO: Show error
      }
    });
  }
</script>
